<!DOCTYPE html>
<html>

<head>
    <title>Uploading & Reading CSV file</title>
    <!-- Add Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <h1 class="text-center my-4">Uploading & Reading CSV file</h1>
        <form method="POST" enctype="multipart/form-data" action="/">
            <div class="custom-file mb-3">
                <input type="file" class="custom-file-input" id="customFile" name="file" accept=".csv">
                <label class="custom-file-label" for="customFile">Choose csv file</label>
            </div>
            <button type="submit" class="btn btn-primary">Upload</button>
        </form>
    </div>
    <!-- Add Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>
        $('.custom-file-input').on('change', function() { 
            let fileName = $(this).val().split('\\').pop(); 
            $(this).next('.custom-file-label').addClass("selected").html(fileName); 
        });
    </script>
</body>

</html>